@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*universal section design*/

* {
    font-family: 'JetBrains Mono', monospace;
}

/*body section design*/

body {
    background-color: #f7f7f7;
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-size: 10%;

}

/*main section design*/


/*navigation section design*/

.navigation {
    position: absolute;
    /* padding: 1.5rem 2rem; */
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10001;
}

.navigation-content {

    padding: 1.5rem 2rem;

}

.navigation .nav-link {
    color: #222;
    font-size: 1rem;
}

.navigation .nav-item {
    position: relative;
    margin: 0 5px;
    transition: .45s ease-out;
}

.navigation .nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #176B87;
    transition: .45s ease-out;
}

.navigation .nav-item:hover::before {
    width: 100%;
}

.navigation .nav-item .nav-link.active {
    width: 100%;
}

.navigational-icons a {
    display: inline;
    margin: 0 7px;
}


/*hero section design*/

.hero {
    position: relative;
    height: 750px;
}

.hero video {
    width: 100%;
    height: 750px;
    object-fit: cover;
    display: block;
}

.hero-text-content {
    z-index: 10001;
    position: absolute;
    top: 17rem;
    left: 3rem;
}

.hero-text-content h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}

.hero-text-content h1 span {
    color: yellow;
}

.hero-text-content p {
    color: yellow;
}

.hero-text-content .btn {
    background-color: yellow;
    color: #001C30;
    border: none;
    outline: none;
    padding: 10px 2rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.hero-text-content .btn:hover {
    background-color: #fff;
    color: #001C30;
}

.overlay {
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);

}

/*cta section design*/

.cta {
    position: relative;

}

.cta-content {
    padding: 2rem;
}

.cta-content-main {
    max-width: 1200px;
    margin: auto;
}

.cta-content-main h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #001C30;
}

.cta-content-main p {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

}

.cta-content-main .btn {

    background-color: #176B87;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 2rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.cta-content-main .btn:hover {
    background-color: rgb(0, 28, 48);
}

/*solution section design*/

.solution {
    position: relative;
    background: linear-gradient(rgba(0, 28, 48, .9), rgba(0, 28, 48, .9));
}

.solution-content {
    padding: 5rem;
}

.solution-content-main {
    max-width: 1200px;
    margin: auto;
}

.solution-content-main h1 {
    font-size: 6rem;
    font-weight: 800;
    color: yellow;
}

.solution-content-main p {
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;

}

.solution-content-boxes {
    margin-top: 2rem;
}

.solution-content-boxes .col-md-3 {
    margin-bottom: 1rem;
}

.solution-content-boxes .col-md-3 .col-contents {
    padding: 1rem;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: .45s ease;
    background-color: #001C30;
}

.solution-content-boxes .col-md-3 .col-contents.focus {
    transform: translateY(-10px);
}

.solution-content-boxes .col-md-3 .col-contents:hover {
    transform: translateY(-10px);
}

.col-contents .col-icons {
    text-align: center;
}

.col-contents .col-icons i {
    font-size: 3rem;
    color: #222;
    padding: 1rem;
    background-color: yellow;
    border-radius: 90px;
}

.col-md-3 .col-contents h3 {
    margin-top: 1rem;
    color: yellow;
    text-align: center;
    font-weight: 800;
}

.solution p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;

}

.solution-btn {
    margin-top: 1rem;
    text-align: center;
}

.solution-btn .btn {
    background-color: yellow;
    color: #001C30;
    border: none;
    outline: none;
    padding: 10px 2rem;
    border-radius: 50px;
}

.solution-btn .btn:hover {
    background-color: #001C30;
    color: yellow;
}

/*review section design*/

.review {
    position: relative;
}

.review-content-main {
    padding: 2rem;
}

.review-content-main h1 {
    font-size: 6rem;
    font-weight: 800;
    color: #001C30;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 50vh;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-client-content {
    padding: 2rem;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.review-profile-img img {
    width: 120px;
    border-radius: 100px;
    border: 2px solid rgb(32, 159, 209);
}

.review-profile-text {
    margin-left: 10px;
}

.review-profile-text h4 {
    font-size: 1.5rem;
    text-align: start;
    line-height: .3;
    display: flex;
    align-items: center;
}

.review-profile-text h4 i {
    color: dodgerblue;
}

.review-profile-text span {
    font-size: 15px;
    color: #555;
    display: flex;
    align-items: center;
}

.review-profile-text span i {
    font-size: 1.2rem;
}

.review-client-content .review-des {
    margin-top: 1rem;

}

.review-client-content .review-des p {
    font-size: 15px;
    text-align: start;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

/*benefits section design*/

.benefits {
    position: relative;
    background: linear-gradient(rgba(0, 28, 48, .9), rgba(0, 28, 48, .9));
}

.benefits-content {
    padding: 5rem;
}

.benefits-content-main h1 {
    font-size: 6rem;
    font-weight: 800;
    color: yellow;
}

.benefits-content-main p {
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.benefits-text-contents {
    margin-top: 3rem;
}

.benefits-text-contents .col-md-6 h3 {
    color: #fff;
    font-weight: 800;
}

.benefits-text-contents p {
    margin-top: 1rem;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}


.benefits-icons i {
    color: yellow;
    font-size: 2rem;
    padding: 1rem;
    background-color: #001C30;
    border-radius: 50px;
    transition: .45s ease;
}

.benefits-icons i:hover {
    background-color: yellow;
    color: #001C30;
}

.benefits-icons-content .col-md-4 {
    padding: 1rem;
}

.benefits-icons-content .main-content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
}

.benefits-icons-content .icons-text h3 {
    padding-top: 1rem;
    text-align: center;
    font-weight: 800;
}

.benefits-icons-content .icons-text p {
    text-align: center;
    color: #222;
}

.benefits-icons-content .main-content-icon {
    text-align: center;
}

.benefits-btn {
    text-align: center;
}

.benefits-btn .btn {
    background-color: yellow;
    color: #001C30;
    border: none;
    outline: none;
    padding: 10px 2rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.benefits-btn .btn:hover {
    background-color: #001C30;
    color: yellow;
}

/*services section design*/



.services-content-main {
    padding: 2rem;
}

.services-content-main h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #001C30;
    text-align: center;
}

.services-row-contents {
    background-color: yellow;
}

.services-row-contents .tabcontent {
    display: none;

}

.services-row-contents .tabcontent h3 {
    font-weight: 800;
    font-size: 3rem;
}

.services-row-contents .tabcontent p {
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}



.services-row-contents {
    padding: 3rem;
}

.services-row-contents .tab {
    margin-bottom: 2rem;
    border-left: 2px solid #001C30;
    border-right: 2px solid #001C30;
    padding-left: 1rem;
    padding-right: 1rem;

}

.services-row-contents .tablinks {
    color: #222;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
    font-size: 15px;
    padding: 10px 0;
}

.services-row-contents .tablinks.active {
    border-bottom: 1px solid #222;

}

.services-row-contents .tabcontent img {
    filter: grayscale(1);
    clip-path: polygon(0 11%, 80% 0%, 100% 100%, 9% 94%);
}

.services-row-contents #defaultOpen {
    color: #001C30;
    font-weight: 800;
}

.checklist {
    background-color: #001C30;
    padding: 2rem 1rem;
}

.checklist span {
    display: block;
    color: #fff;
    font-size: 13px;
    margin: 6px 0;
}


/*partners section design*/

@keyframes slide {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.partners {
    background-color: #001C30;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    padding: 1rem 0;
}

.partners:before,
.partners:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.partners:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .2));
}

.partners:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .2));
}

.partners:hover .partners-content {
    animation-play-state: paused;
}

.partners-content {
    display: inline-block;
    animation: 35s slide infinite linear;
}

/*faqs section design*/

.faqs {
    background-color: #fff;
}

.faqs-content {
    padding: 2rem;
}

.faqs-content-main {
    padding: 2rem;
}

.faqs-content-main h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #001C30;
    text-align: center;
}

.faqs-accordion {
    padding: 1rem;
}

.faqs-accordion .card {
    border-radius: 0;
    border: none;
    margin: 5px 0;

}

.faqs-accordion .card .card-header {
    background-color: white !important;
}

.faqs-accordion .card .card-header a {
    font-weight: 700;
    color: #001C30;
}

.faqs-accordion .card-body ul {
    background-color: #001C30;
    padding: 2rem 3rem;
    margin: 1rem 0;
}

.faqs-accordion .card-body li {
    color: #fff;
}

.faqs-accordion .card-body li,
.faqs-accordion .card-body span {

    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.faqs-accordion .card-body span {
    font-weight: 600;
}

.faqs-accordion .card-body p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: #001C30;
    padding: 2rem 3rem;
    color: #fff;
}

/*poster section design*/

.poster {
    position: relative;
    border: 2px solid #fff;
}

.poster video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.poster-text-content {
    z-index: 10001;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.poster-text-content h1 {
    font-size: 5rem;
    color: #fff;
    font-weight: bolder;
}

.poster .overlay {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
}

.poster-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10004;
    transform: translate(-50%, -50%);
}

.poster-text h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
}

/*links section design*/

.links {
    background-color: #001C30;

}

.links-col {
    padding: 2rem;
}

.links-content-main h1 {
    font-size: 3rem;
    font-weight: 800;
}

.links-content-main h1 span {
    color: yellow;
}

.links-content-main p {
    margin-top: 1rem;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.links-col h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.col-links {
    margin-top: 1rem;
}

.col-links a {
    color: #ddd;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 5px 0;
}

.col-links a:hover {
    color: #fff;
}

.newsletter h3 {
    font-size: 1.2rem;
    color: yellow;
    font-weight: 700;
    line-height: .7;
}

.newsletter span {
    color: #ddd;
    font-size: 15px;
    text-transform: lowercase;
}

.newsletter form {
    margin-top: 1rem;
}

.newsletter input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    caret-color: yellow;
    color: #fff;
}

.newsletter input:focus {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}



.newsletter .btn {
    background-color: yellow;
    color: #001C30;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 10px 2rem;
    border-radius: 50px;
}

.newsletter .btn:hover {
    background-color: #fff;
    color: rgb(0, 28, 48);
}

.links .endline {
    max-width: 1000px;
    margin: auto;
    height: 1px;
    background-color: #fff;
}

.links .endtext {
    padding: 1rem;
    text-align: center;
}

.links .endtext span {
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}



/* about section design */

.about {
    position: relative;
}

.about-content-main {
    background-image: linear-gradient(rgba(0, 28, 48, .8), rgba(0, 28, 48, .8)), url('./assets/about_picture.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 150px 60px;
    text-align: center;

}

.about-content-main h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
}

.about-content-main h1 span {
    color: yellow;
}

.about-content-text {
    background-color: #fff;
}

.about-content-text {
    padding: 5rem;
    text-align: center;

}

.about-content-text p {
    font-size: 1.2rem;
    font-family: 'Open sans', sans-serif;
    padding: 1rem;
}

.about-content-text h3 {
    background-color: #001C30;
    color: #fff;
    padding: 1rem;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 30px;
}

/*pricing section desgin*/

.pricing {
    position: relative;
}

.pricing-content-main {
    background: linear-gradient(rgba(0, 28, 48, .9), rgba(0, 28, 48, .9));
    padding: 150px 150px 60px;
    text-align: center;

}

.pricing-content-main h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
}

.pricing-content-main h1 span {
    color: yellow;
}

.pricing-prices {
    padding-top: 2rem;
    background-color: #fff;
}

.pricing-prices .row-content {
    background-color: #001C30;
    padding: 2rem;
    text-align: center;
    border-radius: 20px;
}

.pricing-prices .col-md-4 {
    margin: 1rem 0;
}


.pricing-prices .row-content h1 {
    color: #fff;
    font-size: 5rem;
}

.pricing-prices .row-content h1 span {
    color: yellow;
}

.pricing-prices .row-content i {
    font-size: 2rem;
}

.pricing-prices .row-content .sizes {
    color: #ddd;
    font-weight: 400;
}

.pricing-additions .row-txt h3 {
    font-weight: 800;
    color: rgb(11, 59, 94);
    font-size: 2rem;
    padding: 1rem 0 0;
}

.pricing-additions .row-txt p {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #555;
}

/* 
.about-video {}

.about-video video {
    width: 100%;
    display: block;
    height: 720px;
    object-fit: cover;
} */


/* 
.station {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */